@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    max-width: 100%;
    /* position: absolute;
    right: 0; */
    z-index: 0; /* Ensure it's above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header a {
    color: black;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-inline: 0.1em;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 1em;
}

.header-right {
    margin-right: 1em;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

@media screen and (max-width:662px) {
    .header {
        justify-content: center; 
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }

    .header a {
        display: block;
        width: 100vw;
    }

    .header a.logo {
        display: block;
        text-align: center;
        margin: 0;
    }
}

section {
    padding: 7em 12.5em;
}

.main {
    background: url(img/wallpaperflare.com_wallpaper\(4\).jpg) no-repeat;
    width: 100%;
    height: calc(100svh - 25px);
    display: flex;
    align-items: center;
    justify-content: left;
    background-attachment: fixed ;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.content {
    margin-left: 5em;
}

.content h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

.content span {
    color: dodgerblue;
}

.content h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

.main a {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    font-size: 2em;
    padding: 0.5em;
    border-radius: 0.2em;
    display: inline-block;
    text-align: center;
    transition: 0.7s;
}

.main a:hover {
    transform: scale(1.1);
}

.title {
    text-align: center;
    color: dodgerblue;
    font-size: 3em;
    margin-bottom: 0.8em;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
    justify-content: center;
    gap: 1em;
}

.test {
    width: 12em;
    height: 12em;
    background-color: aqua;
}

.content-1 {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 21.25em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: dodgerblue;
    font-size: 8em;
    text-align: center;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: dodgerblue;
}

.info h3 {
    text-align: center;
}

.card p {
    text-align: center;
}

.project-card-wrapper {
    display: grid;
    margin: 3em;
    gap: 1em;
    width: fit-content;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.project-flex {
    display: flex;
    justify-content: center;
}

.project-card-wrapper img {
    max-width: 100%;
    margin-block: 0.5em;
}

/* .project-card {
    flex: 1 1 0px;
} */

.project-card p {
    margin-bottom: 1em;
}

.project-card a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: right;
    font-weight: 700;
}

@media (max-width:616px) {
    .project-flex {
        flex-direction: column;
        width: 100%;
    }
    
    .projects {
        padding: 0;
    }

    .project-card-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-inline: auto;
    }
}

.about-card {
    background: #fff;
    width: 30.25em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
    display: flex;
    justify-content: space-between;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.info {
    align-self: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heart {
    color: red;
}

article {
    padding: 100px 200px;
}

article p {
    text-align: center;
}


@media (max-width:1023px) {
    article {
        padding: 80px 1em;
    }
}

footer {
    background-color: dodgerblue;
    text-align: center;
    padding: 1em;
    color: #fff;
}

footer > * {
    margin-block: 0.3em;
}





















@media (max-width: 1070px) {
    body {
        font-size: 12px;
    }
}

@media (max-width: 670px) {
    body {
        font-size: 8px;
    }

    .main {
        justify-content: center;
        height: 100svh;
    }

    section {
       padding: 3.5em 6.25em;
    }

    header {
        display: none;
    }
}

@media (max-width: 1070px) {
    body {
        font-size: 12px;
    }
}