* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body { 
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    max-width: 100%;
    /* position: absolute;
    right: 0; */
    z-index: 0; /* Ensure it's above other content */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.header a {
    color: black;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
    margin-inline: 0.1em;
}
  
.header a.logo {
    font-size: 25px;
    font-weight: bold;
    margin-left: 1em;
}

.header-right {
    margin-right: 1em;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

@media screen and (max-width:662px) {
    .header {
        justify-content: center; 
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }

    .header a {
        display: block;
        width: 100vw;
    }

    .header a.logo {
        display: block;
        text-align: center;
    }
}

section {
    padding: 100px 200px;
}

.main {
    background: url(wave-haikei.svg) no-repeat;
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed ;
    background-size: cover;
    background-position: center;
    padding: 0;
}

.main h2 {
    color: #fff;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}

.main h3 {
    color: dodgerblue;
    font-weight: 700;
    font-size: 3em;
}

.main-btn {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: dodgerblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease-in-out;
}

.main-btn:hover {
    transform: scale(1.1);
    background-color: #3a6cf4;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a {
    font-size: 1.7em;
    padding-right: 30px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container a {
    text-decoration: none;
    background-color: aqua;
    display: block;
}

.title {
    display: flex;
    justify-content: center;
    color: dodgerblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background: #fff;
    width: 21.25em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: dodgerblue;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: dodgerblue;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

@media (max-width:1023px) {
    section {
        padding: 80px 20px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:448px) {
    body {
        font-size: 10px;
    }
}



@media (max-width:641) {
    body {
        font-size: 12px;
    }


}

.about-card {
    background: #fff;
    width: 25.25em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s;
    display: flex;
    justify-content: space-between;
}

.about-card:hover {
    transform: scale(1.1);
}

.about-container {
    display: flex;
    justify-content: space-between;
}

.info {
    align-self: center;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.heart {
    color: red;
}

article {
    padding: 100px 200px;
}

article p {
    text-align: center;
}


@media (max-width:1023px) {
    article {
        padding: 80px 1em;
    }
}

footer p {
    text-align: center;
    font-size: 1.3em;
    font-weight: 500;
}

footer {
    padding-block: 1em;
    background-color: #f1f1f1;
}